@import "reset.css";
@import "fonts.css";
@import "spinner.css";

a {
  cursor: pointer;
}

body {
  background:
    url('../assets/images/p.png') no-repeat center,
    url('../assets/images/taust.png') repeat;
}

#app {
  min-width: 780px;
  display: flex;
  flex-wrap: wrap;
}