a(href='#', class='header-logo')
a(href='#')
    div(class='header-deals-widget')
        span Deals
a(href='#')
    div(class='header-activities-widget')
        span Activities
        span.date 20
        span.deals-amount 17
a(href='#', class='header-profile-widget')
a(href='#', class='header-coub-widget')
