a(href='#', class='header-logo')
a(href='#', class='deals-widget')
    div(class='header-deals-widget')
        span Deals
a(href='#', class='header-profile-widget')
a(href='#', class='header-coub-widget')
