a(href='#')
    h1 pipedrive_logo
a(href='#')
    div(class='header-deals-widget')
a(href='#')
    div(class='header-activities-widget')
a(href='#')
    div(class='header-profile-widget')
a(href='#')
    div(class='header-coub-widget')
