.header-activities-widget {
  position: relative;
  padding-left: 43px;
  margin-right: 27px;
  cursor: pointer;
  background: url("../assets/images/calendar-icon.png") no-repeat left;
}

.header-activities-widget .date {
  position: absolute;
  left: 7px;
  top: 20px;
  color: #444;
  font: 15px 'LucidaGrande-Bold';
}

.header-activities-widget .deals-amount {
  position: absolute;
  left: 18px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 14px;
  font: 9px 'LucidaGrande-Bold';
  background-color: #dd0000;
}